* {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", verdana, arial, sans-serif;
  letter-spacing: normal;
  list-style-type: none;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

header {
  background-color: #192428;
}

body {
  /*background-image: linear-gradient(to right top, #39ace7, #2fa2da, #2598ce, #188ec1, #0784b5);*/
  background-color: #0784b5;
}

#navbar {
  display: flex;
  flex-wrap: nowrap;
  z-index: 1;

  background-color: #192428;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  font-size: 15px;
  cursor: pointer;
  filter: none;
}

#navbar a:hover {
  background-color: #0784b5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  height: 100vh;
  width: 100%;
}

#titleLinks {
  display: flex;
}

#title p {
  margin: 5px;
  padding: 5px;

  font-size: 36px;
  color: #fff;
}

#title p b {
  color: #39ace7;
}


#title a {
  display: block;
  margin: 5px;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  border-radius: 8px;
  cursor: pointer;

  color: #fff;
  background-color: #0784b5;
}

#title a:hover {
  opacity: 0.5;
}

.scroll-down {
  position: absolute;

  bottom: 20px;
  display: block;
  width: 13px;
  height: 13px;

  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: translate(-50%, 0%) rotate(45deg);
}

.section {
  margin: 20px;
  margin-bottom: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 20px;
  padding: 20px;
  width: 85%;

  border-radius: 10px;

  background-color: #192428;
}

.content h2 {
  margin: 20px;
}

.content h2::after {
  content: '';
  background: #0784b5;
  width: 100%;
  height: 4px;
  margin-top: 5px;
  border-radius: 2px;
  display: block;
}


.content h3 {
  margin: 10px;
}

.content h4 {
  margin: 10px;
  margin-bottom: 0px;
}

.content p {
  padding: 15px;
}

#about img {
  align-self: center;

  width: 20%;
  min-width: 20%;
  border-radius: 50%;
}

#skills i {
  font-size: 75px;
}

#coding-skills {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

#coding-skills div {
  margin: 10px;
  padding: 5px;

  cursor: pointer;
}

#coding-skills div:hover {
  opacity: 0.5;
}

.subtext {
  font-size: 10px;
}

.long-list {
  display: flex;
  margin-left: 20px;
}

.long-list li {
  list-style-type: disc;
  margin: 10px;
}

footer {
  margin-top: 100px;
  height: 200px;
  background-color: #192428;
}